Repository swiftotter/den, pull requests merged in 2022-10, with the labels that each got.

#94 Add den status command
  commands/status.cmd
  commands/status.help
Labels: enhancement

#93 Adding the environment magento-cloud to be used by den env-ini command.
  CHANGELOG.md
  commands/env-init.help
  docs/environments/types.md
  environments/magento-cloud/init.env
  environments/magento-cloud/init.env.cmd
  environments/magento-cloud/magento-cloud.base.yml
Labels: enhancement

#105 Add mage2tv/magento-cache-clean
  CHANGELOG.md
  images/php-fpm/magento2/Dockerfile
Labels: enhancement, images update

#117 Added Oh my ZSH
  docs/configuration/alternative-shells.md
  images/php-fpm/Dockerfile
Labels: enhancement, images update

#116 Fix chrome-debug image name so docker can find image
  environments/includes/selenium.base.yml
Labels: bug

#135 Add 2.2 value for COMPOSER_VERSION. Update Magento defaults for 2.2
  docs/environments/magento2.md
  environments/magento2/init.env
  images/php-fpm/context/docker-entrypoint
Labels: enhancement, images update
